<!DOCTYPE html>
<html lang="en">
<title>LOOKETTE</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->
<link rel="stylesheet" href = {{url_for('static', filename='w3.css')}}>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family:'Josefin Sans', sans-serif;;
background-image: url('/static/roses.jpg'); 
background-size: cover;
opacity: 1.0}
header {font-family:'Josefin Sans', sans-serif;;
background-size: cover;
opacity: 0.8}
w3-navbar{opacity: 0.7;
}
form{border: 3px solid #f1f1f1;
background-color: white;
background: rgba(255,255,255,0.8)}
</style>
<body class="w3-light-grey">

<!-- Navigation bar with social media icons -->
<ul class="w3-navbar w3-black w3-collapse" style="opacity:0.8;">
<li>  <a href="{{url_for('login')}}"><h6  class="main-nav-item" >MAIN PAGE</h6></a>    </li>
<li><a href="{{url_for('aboutUs')}}"><h6  class="main-nav-item"">ABOUT US</h6></a></li>

</ul>
  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-40 w3-white">
    <h1 class="w3-xxxlarge"><b>SHARE YOUR OUTFIT</b></h1>
    <h6> <span class="w3-tag">BE THE INSPIRATION </span> </h6>

  </header>
  <div align="center">

<form action="upload.php" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit">
</form>

 </div>
        </div>