 <!DOCTYPE html>
<html>
<body>

<title>W3.CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family:'Josefin Sans', sans-serif;;
background-image: url('static/roses.jpg'); 
background-size: cover;
opacity: 0.8}
w3-navbar{opacity: 0.7;
}
form{border: 3px solid #f1f1f1;
background-color: white;
background: rgba(255,255,255,0.8)}

</style>


</body>
</html>